# T3.2 Analizar e visualizar estatísticas de datos baixados de MongoDB
## Ralphy Núñez Mercado
## Conexión a MongoDB dende Python e análise de datos

En Atlas mete o dataset de exemplo na túa base de datos.

Engade o enderezo IP autorizado a conectar para que poidas conectar á base de datos.

Proba a conectar dende compass coa URL de conexión que che da.

Da BBDD de proba: sample_mfix, na colección movies: https://www.mongodb.com/docs/atlas/sample-data/sample-mflix/

Conecta a Atlas dende Python, carga a colección en Pandas. Averigua o modo máis adecuado.

In [2]:
# %conda install -y pymongo dnspython
from pymongo import MongoClient
import json
import pandas as pd

#HOST="(...).mongodb.net"
HOST="cluster0.6ej71.mongodb.net"
PORT=27017
USERNAME="ralphynm1000"
PASSWORD="hola1234"

if HOST == 'localhost':
    if not USERNAME:
        cli_mongo = MongoClient(HOST, PORT)
    else:
        cli_mongo = MongoClient(HOST, PORT, USERNAME, PASSWORD)
else:
    cli_mongo = MongoClient(f"mongodb+srv://{USERNAME}:{PASSWORD}@{HOST}/")

db_sample_mflix = cli_mongo['sample_mflix']
movies = db_sample_mflix['movies']

A) Contar o total de películas.

In [3]:
movies.estimated_document_count({})

21349

B) Contar o número de películas de cada xénero.

In [ ]:
generos = movies.distinct('genres')

data = {}
for i in generos:
    data[i] = movies.count_documents({"genres": i})

# convertir diccionario en dataFrame
df = pd.DataFrame(list(data.items()), columns=['Género', 'Cantidad'])

df

         Género  Cantidad
0        Action      2381
1     Adventure      1900
2     Animation       912
3     Biography      1269
4        Comedy      6532
5         Crime      2457
6   Documentary      1834
7         Drama     12385
8        Family      1249
9       Fantasy      1055
10    Film-Noir        77
11      History       874
12       Horror      1470
13        Music       780
14      Musical       440
15      Mystery      1139
16         News        44
17      Romance      3318
18       Sci-Fi       958
19        Short       442
20        Sport       366
21    Talk-Show         1
22     Thriller      2454
23          War       699
24      Western       242

C) Contar cantas películas hai por ano.

In [ ]:
documentos = list(movies.find())

df = pd.DataFrame(documentos)

df["year"] = df["released"].dt.year

contar_pelis_año = df["year"].value_counts()

contar_pelis_año

year
1903.0       1
1909.0       1
1911.0       2
1913.0       1
1914.0       3
          ...
2012.0     903
2013.0    1063
2014.0    1089
2015.0     773
2016.0      10
Name: count, Length: 107, dtype: int64

D) Mirar se hai correlación entre imdb e rotten tomatoes.

E) Contar cantas películas ten cada director

In [ ]:
# generos = movies.distinct('directors')

# data = {}
# for i in generos:
#     data[i] = movies.count_documents({"directors": i})

# df = pd.DataFrame(list(data.items()), columns=['Director', 'Cantidad'])

# df



documentos = list(movies.find())
df = pd.DataFrame(documentos)


df['directors'] = df['directors'].explode()


contar_pelis_directores = df["directors"].value_counts()

contar_pelis_directores

ValueError: cannot reindex on an axis with duplicate labels

F) Contar en cantas películas ten participado cada actor

In [ ]:
actores = movies.distinct('cast')

data = {}
for i in actores:
    data[i] = movies.count_documents({"cast": i})

df = pd.DataFrame(list(data.items()), columns=['Actor', 'Peliculas'])

df

G) Contar cantas películas hai de cada idioma

In [79]:
idioma = movies.distinct('languages')

data = {}
for i in idioma:
    data[i] = movies.count_documents({"languages": i})

df = pd.DataFrame(list(data.items()), columns=['Idioma', 'Peliculas'])

df

                 Idioma  Peliculas
0     Ancient (to 1453)          6
1                   Old          2
2             Abkhazian          1
3            Aboriginal         12
4                Acholi          2
..                  ...        ...
226               Wolof         12
227               Xhosa         15
228             Yiddish         49
229              Yoruba          2
230                Zulu         20

[231 rows x 2 columns]

H) Cal é a media de premios das películas

None

J) Amosar as películas que teñen alomenos 3 premios

K) Contar as películas por país

In [ ]:
pais = movies.distinct('countries')

data = {}
for i in pais:
    data[i] = movies.count_documents({"countries": i})

df = pd.DataFrame(list(data.items()), columns=['País', 'Peliculas'])

df

             País  Peliculas
0     Afghanistan          8
1         Albania          3
2         Algeria         13
3          Angola          3
4       Argentina        195
..            ...        ...
153       Vietnam          9
154  West Germany        246
155    Yugoslavia         47
156         Zaire          1
157      Zimbabwe          1

[158 rows x 2 columns]