# Práctica: Análise de Datos Temporais con Pandas


Nesta práctica, traballaredes con datos do Instituto Nacional de Estatística (INE) sobre a evolución dos prezos do IPC de diferentes produtos. 

Sobre o dataset:

- Índice: expresa un valor en base 100 (sobre un ano de referencia).
- Variación anual: compara o mes actual co o mesmo mes do ano anterior.
- Variación en lo que va de año: compara o mes actual co mes de xaneiro do mesmo ano.
- Vairación mensual: compara o valor co mes anterior.

## Preparación

- Descarga dos datos: Accede á ligazón proporcionada e descarga os datos en calquer formato compatible con Pandas (XML, CSV, JSON) [https://datos.gob.es/es/catalogo/ea0010587-indices-nacionales-de-clases-ipc-identificador-api-509041](https://datos.gob.es/es/catalogo/ea0010587-indices-nacionales-de-clases-ipc-identificador-api-509041)

- Utiliza un entorno conda que teña instalado ``pandas`` e ``matplotlib``.

## Descrición

1. Utiliza ``pandas`` para cargar os datos nun DataFrame e preparalos para a análise.
    Ten en conta que será necesario preprocesar o dataset para o correcto funcionamiento do DataFrame. Douche unhas pistas: 
    - As datas están organizadas en sentido inverso, é decir aparecen primeiro as datas mais recentes. 
    - Por defecto o valor das datas é un string, deberás formatearlo correctamente para que o DataFrame o identifique en formato ``datetime``.
    - Os valores no campo "Total" separan os valores decimais por ",", para poder facer o casting a float debedes camialos por ".".

2. Determina os 5 produtos que máis incrementaron de prezo no ano 2024. (Usa o tipo de dato "Variación anual")

3. Representa a evolución do valor do tipo de dato "Índice" dos 5 produtos anteriores nunha gráfica. 

4. Determina o ano co máximo valor de incremento medio considerando todos os produtos. (Usa o tipo de dato "Variación anual")


## Entrega

Debedes entregar un script en Python onde se realicen todos os pasos descritos e engadir a gráfica obtenida en formato .png.

## Imports Necesarios

In [167]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import unidecode
from datetime import datetime

## 1. Utiliza ``pandas`` para cargar os datos nun DataFrame e preparalos para a análise.
    Ten en conta que será necesario preprocesar o dataset para o correcto funcionamiento do DataFrame. Douche unhas pistas: 
    - As datas están organizadas en sentido inverso, é decir aparecen primeiro as datas mais recentes. 
    - Por defecto o valor das datas é un string, deberás formatearlo correctamente para que o DataFrame o identifique en formato ``datetime``.
    - Os valores no campo "Total" separan os valores decimais por ",", para poder facer o casting a float debedes camialos por ".".

### Leer el fichero csv y, con esto, obtener nuestro dataframe.

In [168]:
df = pd.read_csv("ipc.csv",sep="\t")

df

,Clases,Tipo de dato,Periodo,Total
0,Índice general,Índice,2025M01,"116,733"
1,Índice general,Índice,2024M12,"116,534"
2,Índice general,Índice,2024M11,"116,01"
3,Índice general,Índice,2024M10,"115,726"
4,Índice general,Índice,2024M09,"115,009"
...,...,...,...,...
103039,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002M05,"2,3"
103040,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002M04,"2,2"
103041,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002M03,"2,2"
103042,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002M02,"1,9"
103043,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002M01,"1,5"

### Reemplezar las comas por puntos

In [169]:
df['Total'] = df['Total'].replace(',','.', regex=True)

### Llenar los valores vacíos con 0

In [170]:
df.fillna(0.0, inplace=True)

### Parsear los valores de la columna 'Total' a float

In [171]:
df["Total"] = pd.to_numeric(df['Total'],errors='coerce').astype(np.float32)

### Formatear las fechas de la columna 'Periodo'

In [172]:
df['Periodo'] = df['Periodo'].apply(lambda x: datetime.strptime(x,'%YM%m'))
#df['Periodo'] = df['Periodo'].apply(lambda x: datetime.fromtimestamp(x))

### Dataframe preparado para operar

In [173]:
df

,Clases,Tipo de dato,Periodo,Total
0,Índice general,Índice,2025-01-01,116.733002
1,Índice general,Índice,2024-12-01,116.533997
2,Índice general,Índice,2024-11-01,116.010002
3,Índice general,Índice,2024-10-01,115.725998
4,Índice general,Índice,2024-09-01,115.009003
...,...,...,...,...
103039,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002-05-01,2.300000
103040,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002-04-01,2.200000
103041,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002-03-01,2.200000
103042,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002-02-01,1.900000
103043,1270 Otros servicios n.c.o.p.,Variación en lo que va de año,2002-01-01,1.500000

## 2. Determina os 5 produtos que máis incrementaron de prezo no ano 2024. (Usa o tipo de dato "Variación anual")

In [229]:
df2 = df[df['Periodo'].dt.strftime('%Y')=='2024'].groupby("Clases").max()

df2[df2['Tipo de dato'] == "Variación anual"]


#groupby('LISTA')['TOTAL PERCIBIDO'].sum().reset_index().sort_values(by='TOTAL PERCIBIDO', ascending=False)

Empty DataFrame
Columns: [Tipo de dato, Periodo, Total]
Index: []