# Pr√°ctica: An√°lise de Datos Temporais con Pandas


Nesta pr√°ctica, traballaredes con datos do Instituto Nacional de Estat√≠stica (INE) sobre a evoluci√≥n dos prezos do IPC de diferentes produtos. 

Sobre o dataset:

- √çndice: expresa un valor en base 100 (sobre un ano de referencia).
- Variaci√≥n anual: compara o mes actual co o mesmo mes do ano anterior.
- Variaci√≥n en lo que va de a√±o: compara o mes actual co mes de xaneiro do mesmo ano.
- Vairaci√≥n mensual: compara o valor co mes anterior.

## Preparaci√≥n

- Descarga dos datos: Accede √° ligaz√≥n proporcionada e descarga os datos en calquer formato compatible con Pandas (XML, CSV, JSON) [https://datos.gob.es/es/catalogo/ea0010587-indices-nacionales-de-clases-ipc-identificador-api-509041](https://datos.gob.es/es/catalogo/ea0010587-indices-nacionales-de-clases-ipc-identificador-api-509041)

- Utiliza un entorno conda que te√±a instalado ``pandas`` e ``matplotlib``.

## Descrici√≥n

1. Utiliza ``pandas`` para cargar os datos nun DataFrame e preparalos para a an√°lise.
    Ten en conta que ser√° necesario preprocesar o dataset para o correcto funcionamiento do DataFrame. Douche unhas pistas: 
    - As datas est√°n organizadas en sentido inverso, √© decir aparecen primeiro as datas mais recentes. 
    - Por defecto o valor das datas √© un string, deber√°s formatearlo correctamente para que o DataFrame o identifique en formato ``datetime``.
    - Os valores no campo "Total" separan os valores decimais por ",", para poder facer o casting a float debedes camialos por ".".

2. Determina os 5 produtos que m√°is incrementaron de prezo no ano 2024. (Usa o tipo de dato "Variaci√≥n anual")

3. Representa a evoluci√≥n do valor do tipo de dato "√çndice" dos 5 produtos anteriores nunha gr√°fica. 

4. Determina o ano co m√°ximo valor de incremento medio considerando todos os produtos. (Usa o tipo de dato "Variaci√≥n anual")


## Entrega

Debedes entregar un script en Python onde se realicen todos os pasos descritos e engadir a gr√°fica obtenida en formato .png.

### ‚¨áÔ∏èüì¶ M√°gias para la instalaci√≥n de los paquetes.

In [42]:
# %conda install -y pandas # o  %pip install pandas
# %conda install -y matplotlib # o %pip install matplotlib
# %conda install -y numpy # o %pip install numpy
# %conda install -y seaborn # o %pip install seaborn

## ‚¨áÔ∏èüì¶ Imports Necesarios

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
import seaborn as sns

## 1. Utiliza ``pandas`` para cargar os datos nun DataFrame e preparalos para a an√°lise.
    Ten en conta que ser√° necesario preprocesar o dataset para o correcto funcionamiento do DataFrame. Douche unhas pistas: 
    - As datas est√°n organizadas en sentido inverso, √© decir aparecen primeiro as datas mais recentes. 
    - Por defecto o valor das datas √© un string, deber√°s formatearlo correctamente para que o DataFrame o identifique en formato ``datetime``.
    - Os valores no campo "Total" separan os valores decimais por ",", para poder facer o casting a float debedes camialos por ".".

### Leer el fichero csv y, con esto, obtener nuestro dataframe.

In [ ]:
df = pd.read_csv("ipc.csv",sep="\t")

df

,Clases,Tipo de dato,Periodo,Total
0,√çndice general,√çndice,2025M01,"116,733"
1,√çndice general,√çndice,2024M12,"116,534"
2,√çndice general,√çndice,2024M11,"116,01"
3,√çndice general,√çndice,2024M10,"115,726"
4,√çndice general,√çndice,2024M09,"115,009"
...,...,...,...,...
103039,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002M05,"2,3"
103040,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002M04,"2,2"
103041,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002M03,"2,2"
103042,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002M02,"1,9"
103043,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002M01,"1,5"

### ‚ûø Reemplezar las comas por puntos

In [ ]:
df['Total'] = df['Total'].replace(',','.', regex=True)

### üîÑ Llenar los valores vac√≠os con 0

In [46]:
df.fillna(0.0, inplace=True)

### üîÑ Parsear los valores de la columna 'Total' a float

In [47]:
df["Total"] = pd.to_numeric(df['Total'],errors='coerce').astype(np.float32)

### üìÜ Formatear las fechas de la columna 'Periodo'

In [ ]:
df['Periodo'] = df['Periodo'].apply(lambda x: datetime.strptime(x,'%YM%m'))

### ‚úÖ Dataframe preparado para operar

In [49]:
df

,Clases,Tipo de dato,Periodo,Total
0,√çndice general,√çndice,2025-01-01,116.733002
1,√çndice general,√çndice,2024-12-01,116.533997
2,√çndice general,√çndice,2024-11-01,116.010002
3,√çndice general,√çndice,2024-10-01,115.725998
4,√çndice general,√çndice,2024-09-01,115.009003
...,...,...,...,...
103039,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002-05-01,2.300000
103040,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002-04-01,2.200000
103041,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002-03-01,2.200000
103042,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002-02-01,1.900000
103043,1270 Otros servicios n.c.o.p.,Variaci√≥n en lo que va de a√±o,2002-01-01,1.500000

## 2. Determina os 5 produtos que m√°is incrementaron de prezo no ano 2024. (Usa o tipo de dato "Variaci√≥n anual")

In [ ]:
df2 = df[df['Periodo'].dt.strftime('%Y')=='2024']
df2 = df2.loc[df2['Tipo de dato'] == 'Variaci√≥n anual']

df2.groupby("Clases").max().sort_values(by='Total',ascending=False).head(5).reset_index()


#df2 = df.loc[(df['Periodo'].dt.strftime('%Y')=='2024') & (df['Tipo de dato'] == 'Variaci√≥n anual')].groupby("Clases").max().reset_index().sort_values(by='Total',ascending=False).head(5)

,Clases,Tipo de dato,Periodo,Total
0,0115 Aceites y grasas,Variaci√≥n anual,2024-12-01,49.099998
1,0734 Transporte de pasajeros por mar y por v√≠a...,Variaci√≥n anual,2024-12-01,41.900002
2,0451 Electricidad,Variaci√≥n anual,2024-12-01,19.799999
3,0960 Paquetes tur√≠sticos,Variaci√≥n anual,2024-12-01,14.600000
4,0116 Frutas,Variaci√≥n anual,2024-12-01,13.600000

## 3. Representa a evoluci√≥n do valor do tipo de dato "√çndice" dos 5 produtos anteriores nunha gr√°fica.

In [53]:
#df2.loc[(df['Periodo'].dt.strftime('%Y')=='2024') & (df['Tipo de dato'] == '√çndice')].groupby("Clases").max().reset_index().sort_values(by='Total',ascending=False).head(5)


dataframe_plot=df[(df["Clases"].isin(df2)) & (df["Tipo de dato"]=="√çndice") ].fillna(0)

dataframe_plot


# dataframe_clases=dataframe_plot.groupby("Clases")#Agrupamos por clases para tener 5 df con los 12 meses del a√±o(5 listas por las 5 clases)
# plt.figure(figsize=(15, 8))
# for clase, df in dataframe_clases:
#     sns.lineplot(data=df, x="Periodo", y="Total", label=clase, marker=".", linewidth=1.5, alpha=0.7)#Por cada uno, lo representamos en un plot con seaborn

# plt.ylabel("Precio")
# plt.title("Variaci√≥n de los precios de los 5 productos en todo el tiempo")
# plt.xticks(rotation=45)
# plt.legend(title="Clases")  
# plt.show()


# df_aceite = df.loc[(df['Clases'] == '0115 Aceites y grasas' ) & (df['Tipo de dato'] == '√çndice') & (df['Periodo'].dt.strftime('%Y')=='2024')].sort_values(by='Periodo')
# df_transporte = df.loc[(df['Clases'] == '0734 Transporte de pasajeros por mar y por v√≠as navegables interiores' ) & (df['Tipo de dato'] == '√çndice')& (df['Periodo'].dt.strftime('%Y')=='2024')].sort_values(by='Periodo')
# df_electricidad = df.loc[(df['Clases'] == '0451 Electricidad' ) & (df['Tipo de dato'] == '√çndice') & (df['Periodo'].dt.strftime('%Y')=='2024')].sort_values(by='Periodo')
# df_paquetes_turiticos = df.loc[(df['Clases'] == '0960 Paquetes tur√≠sticos' ) & (df['Tipo de dato'] == '√çndice') & (df['Periodo'].dt.strftime('%Y')=='2024')].sort_values(by='Periodo')
# df_frutas = df.loc[(df['Clases'] == '0116 Frutas' ) & (df['Tipo de dato'] == '√çndice') & (df['Periodo'].dt.strftime('%Y')=='2024')].sort_values(by='Periodo')

# df

# x = pd.to_datetime(df_aceite["Periodo"])

# y_aceite = df_aceite['Total']
# y_transporte = df_transporte['Total']
# y_electricidad = df_electricidad['Total']
# y_paquetes_turiticos = df_paquetes_turiticos['Total']
# y_frutas = df_frutas['Total']


# plt.figure(figsize=(12,6))
# plt.xlabel('2024')
# plt.ylabel('Total')
# plt.title("Productos")
# plt.plot(x.dt.month,y_aceite,label="Aceite")
# plt.plot(x.dt.month,y_transporte,label="Transporte mar y v√≠as interiores")
# plt.plot(x.dt.month,y_electricidad,label="Electricidad")
# plt.plot(x.dt.month,y_paquetes_turiticos,label="Paquetes Tur√≠sticos")
# plt.plot(x.dt.month,y_frutas,label="Frutas")
# plt.legend()

# plt.show()

Empty DataFrame
Columns: [Clases, Tipo de dato, Periodo, Total]
Index: []

## 4. Determina o ano co m√°ximo valor de incremento medio considerando todos os produtos. (Usa o tipo de dato "Variaci√≥n anual")

In [52]:


df4 = df.loc[df['Tipo de dato'] == 'Variaci√≥n anual'].groupby(df['Periodo'].dt.strftime('%Y'))


df4
#df4[['Total','Periodo','Clases']].max()