# T2.2: PANDAS. Ler excels de alcaldes

<p>Instalación de paquetes necesarios</p>

In [ ]:
%conda install pandas # o  %pip install pandas

In [18]:
import pandas as pd

excel_entero = pd.read_excel("Alcades_1979_2023.xlsx",na_values='\\N', date_format="%d/%m/%Y", sheet_name=None)

def limpiar(df):
    df = df.dropna(axis=1, how='all')
    df = df.drop([0,1,2,3,4,5,6])
    df = df.drop(['Unnamed: 13'], axis=1)
    df.rename(columns={'Unnamed: 3': 'COMUNIDAD AUTONOMA', 'Unnamed: 4': 'PROVINCIA', 'Unnamed: 5': 'MUNICIPIO', 'Unnamed: 6': 'CODIGO INE', 'Unnamed: 7': 'NOMBRE', 'Unnamed: 8': 'LISTA', 'Unnamed: 9': 'FECHA POSESION', 'Unnamed: 10': 'FECHA BAJA'}, inplace=True)
    return df 

limpiar(excel_entero['Alcaldes 1979-1983'])

,COMUNIDAD AUTONOMA,PROVINCIA,MUNICIPIO,CODIGO INE,NOMBRE,LISTA,FECHA POSESION,FECHA BAJA
7,Andalucía,Almería,ABLA,040010,"HERRERIAS HERRERIAS, ANTONIO",UCD,1979-04-19 00:00:00,NaN
8,Andalucía,Almería,ABRUCENA,040025,"MARTINEZ LAO, JUAN",PSOE,1979-04-19 00:00:00,NaN
9,Andalucía,Almería,ADRA,040031,"SARMIENTO POSADA, PEDRO",OTROS,1979-04-19 00:00:00,NaN
10,Andalucía,Almería,ALBANCHEZ,040046,"MARTOS AYBAR, RAMON",UCD,1979-04-19 00:00:00,NaN
11,Andalucía,Almería,ALBOLODUY,040059,"BLANES PANIAGUA, MARIANO",UCD,1979-04-19 00:00:00,NaN
...,...,...,...,...,...,...,...,...
8464,"Rioja, La","Rioja, La",VINIEGRA DE ARRIBA,261793,"MIGUEL SANCHEZ, ANTONIO DE",UCD,1979-04-19 00:00:00,NaN
8465,"Rioja, La","Rioja, La",ZARRATON,261807,"MADRIGAL LLORENTE, HELIANO JULIAN",UCD,1980-01-19 00:00:00,NaN
8466,"Rioja, La","Rioja, La",ZARRATON,261807,"VILLAVERDE FERNANDEZ, JESUS",UCD,1979-04-19 00:00:00,1980-01-19 00:00:00
8467,"Rioja, La","Rioja, La",ZARZOSA,261814,"RODRIGUEZ RODRIGO, ANGEL",UCD,1979-04-19 00:00:00,NaN
8468,"Rioja, La","Rioja, La",ZORRAQUIN,261835,"CAPELLAN GONZALO, POLICARPO",CD,1979-04-19 00:00:00,NaN